* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
a {
  color: #fff;
}
ul,
li {
  list-style-type: none;
}
body {
  background-color: #000;
  color: #fff;
}

header {
  border: 1px solid #fff;
  height: 4rem;
}
#logo {
  position: absolute;
  top: 15px;
  left: 30px;
  width: 210px;
  height: auto;
}
#logo svg {
  display: block;
  width: 100%;
  height: auto;
}
#logo .fill-white {
  fill: #fff;
}
header ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem 0 0 16rem;
  font-size: 1.5rem;
}

nav {
  position: absolute;
  border: 1px solid #fff;
  width: 6rem;
  height: 100dvh;
}
nav a {
  display: block;
  background-color: #182235;
  width: 5rem;
  height: 5rem;
  text-align: center;
  margin: 0.5rem auto;
}

.container {
  display: flex;

  margin: 0rem 0 0 10rem;
}

#planetList {
  border: 1px solid #fff;
  padding: 1rem;
  margin: 1rem;
  background-color: #182235;
}
#planetList h2 {
  margin: 0.5rem;
}
#populationFilter {
  padding: 0.5rem;
  margin: 1rem 0;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #325eb0;
  color: #fff;
  cursor: pointer;
}
#searchPlanet {
  width: 100%;
  padding: 0.5rem;
  background-color: #325eb0;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
}
#planetList ul {
  height: 30rem;
  overflow: scroll;
  margin: 1rem 0;
}
#planetList ul::-webkit-scrollbar {
  display: none; /* Désactive le scrollbar */
}
#planetList .listHead {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  margin: 0.5rem 0;
  background-color: #4c6ca9;
}
#planetList li a {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.2rem;
  margin: 0.2rem;
  &:hover {
    background-color: #8aa9e3;
    cursor: pointer;
  }
}
#planetCount {
  padding: 0.5rem;
}

#planetSelected {
  border: 1px solid #fff;
  margin: 1rem;
  padding: 1rem;
  width: 55rem;
  max-height: 20rem;
}
#planetSelected h2 {
  padding: 0.5rem;
  margin-bottom: 1rem;
}
#population {
  margin: 0 0 1rem;
}
#grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  margin: 2rem 0;
}

#moreBtn {
  display: none;
  border: 1px solid #fff;
  padding: 0.5rem;
  margin: 1rem 1rem 1rem 45rem;
  width: 8rem;
  text-align: center;
}
